/* YamlConverter.css */

.convert-button, .file-input{
  background-color: #007bff;
  color: #fff;
  border: 2px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.convert-button:hover, .file-input:hover {
  background-color: #0056b3;
}
.main{
  margin-left: 50%;
  border: 2px solid yellow;
  display: inline-block; /* or display: block; */
  vertical-align: top; /* Aligns the divs at the top */
    margin-bottom: 20px; /* Adds some space between the divs */
}
.container {
  padding: 10px; /* Example padding */
  border: 2px solid red;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 20px;
}


/* Define styles for the input file div */
.input-div {
  margin-bottom: 10px; /* Example margin */
}

/* Define styles for the button div */
.button-div {
  margin-bottom: 10px; /* Example margin */
}